<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="card shadow">
        <div class="card-body">
            <img src="~/images/empty-stage.jpg" class="card-img"/>
            <h1 class="display-1 text-danger card-title text-center">Error 404</h1>
            <h2 class="text-muted">Oops! The stage is empty</h2>
            <p class="text-center text-muted">
                The page you're looking for doesn't exist, or it may have been moved.
            </p>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4">
                Back to Home
            </a>
        </div>
    </div>
</div>
