<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="card shadow">
        <div class="card-body text-center">
            <img src="~/images/stage-construction.jpg" class="card-img w-75 mx-auto" />
            <h1 class="display-1 text-danger card-title text-center">Error 500</h1>
            <h2 class="text-muted text-center">Internal Server Error</h2>
            <p class="text-center text-muted">
                Something went wrong on our end. Please try again later
            </p>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4">
                Back to Home
            </a>
        </div>
    </div>
</div>