html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.thumbnail-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.clickable-card {
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.clickable-card:hover {
    border-color: #007bff;
}

.clickable-card.selected {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.clickable-card.selected .card-title,
.clickable-card.selected .card-text {
    color: white;
}

.role-input {
    margin-top: 15px;
}

.clickable-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    text-decoration: none; /* Ensure text doesn't get underlined */
}

    /* Overlay effect on hover */
    .clickable-card:hover .hover-overlay {
        opacity: 1;
    }

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent overlay */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.clickable-card .card-img-top {
    position: relative;
    overflow: hidden;
}

.clickable-card:focus{
    outline: none;
}
