html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.thumbnail-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie-card {
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

    .movie-card:hover {
        border-color: #007bff;
    }

    .movie-card.selected {
        background-color: #007bff;
        color: white;
        border-color: #0056b3;
    }

        .movie-card.selected .card-title,
        .movie-card.selected .card-text {
            color: white;
        }

.role-input {
    margin-top: 15px;
}
